@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>If there is any comments or questions, please contact below information!</h3>

<address>
    Linh Dao<br />
    Georgian College, Barrie, ON<br />
    <abbr title="Phone">P:</abbr>
    249.989.0469
</address>

<address>
    <strong>Email:</strong> <a href="mailto:linh.dao@mygeorgian.ca">linh.dao@mygeorgian.ca</a><br />
</address>
