@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to The Reminder!</h1>
    <p>This project is built using ASP.NET Core, SQL Server, Entity Framework, and Twitter Bootstrap for COMP2084
    at Georgian College.</p>
    <p>Resource available at</p>
</div>
